



<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Productos</div>
  <div class="panel-body">
    <p>
    	Listado de los produtos disponibles. Vista para el administrador.
    </p>
  </div>

  <!-- Table -->
  <table class="table">

	<tr>
	<th>Nombre</th>
	<th>Opciones</th>
	</tr>
<% @products.each do |product| %>
	<td><%= product.name %></td>
	<td> 
		<%= link_to 'Mostrar', product,:class => "btn btn-primary" %>
		<%= link_to 'Editar', edit_product_path(product), :class => "btn btn-info" %>
		<%= link_to 'Destruir', product, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>			
	</td></tr>		

<% end %>

  </table>
  <%= link_to 'New Product', new_product_path %>



