<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">

    <div class="col-lg-4">
	  
	  <%= image_tag "http://evans.com.mx/imagenes/productos/Bombas_para_agua_EVANS_1HME025_1M.png", :title => "title", :class => "img-circle",:size => "140x140" %>
	  
      <h2>Domestica</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
      <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
	  <%= image_tag "http://evans.com.mx/imagenes/productos/Bombas_para_agua_SUPER_MT2ME100_1M.png", :title => "title", :class => "img-circle",:size => "140x140" %>
      <h2>Industrial</h2>
      <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
      <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
		
      <%= image_tag "http://evans.com.mx/imagenes/productos/Bombas_para_agua_EVANS_HP2ME300_1M.png", :title => "title", :class => "img-circle",:size => "140x140" %>
      <h2>A gasolina</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->


<!-- START THE FEATURETTES -->


  </tr>


<hr class="featurette-divider">

<% cache ['store', Product.latest] do %>

	<% @products.each do |product| %>
			  <div class="col-lg-4">
		  <% cache ['entry', product] do %>

		  <div class="panel panel-warning">
			  <div class="panel-heading">
			      <h3 class="panel-title"><%= product.name %></h3>
			    </div>
		    <div class="panel-body">
		     	 <%= image_tag product.image_url, :title => "title",:size => "200x200" %>
		    </div>
		    <div class="panel-footer">


				<table>
					<th width="90%">
					<span class="text-muted"> <%= number_to_currency(product.price) %></span>
					</th>
					<th width="20%"></th>
					<th>
						<%= button_to line_items_path(product_id: product),:class => "btn btn-warning",remote: true do%>
							<span class="glyphicon glyphicon-shopping-cart"></span> 
						<% end %>

					</th>
				</table>
			</div>

		  </div>

<p><br></p>
		<% end %>
		  </div>		
	<% end %>

<% end %>


<!-- /END THE FEATURETTES -->

