<!DOCTYPE html>
<html>
<head>
  <title>Bombas & Equipos de Ecatepec e-shop</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
			<!-- Fixed navbar -->
			    <div class="navbar navbar-default navbar-fixed-top">
			      <div class="container">
			        <div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
					</button>
					<%= image_tag "https://dl.dropboxusercontent.com/u/38853425/relogo_alpha.png", :title => "title", :size => "50x50"%>					  
					<div class="navbar-toggle">
					<%= link_to "#cart",:class => "btn-lg",:data => {:toggle => "modal"} do %>
						<span class="glyphicon glyphicon-shopping-cart"></span> 
						<span id="current_item" class="badge pull-right">	
							<div id="items">
								<%= @cart.total_items%>
							</div>
							</span>								
					<% end %>
					</div>
			        </div>
			        <div class="navbar-collapse collapse">
	  	              <ul class="nav navbar-nav">
	  	                <li class=""><a href="/">Inicio</a></li>
	  	                <li><a href="#about">Acerca de</a></li>
	  	                <li><a href="#contact">Contactanos</a></li>
	  	                <li class="dropdown">
	  	                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Productos <b class="caret"></b></a>
	  	                  <ul class="dropdown-menu">
	  	                    <li><a href="#">Domestica</a></li>
	  	                    <li><a href="#">Industrial</a></li>
	  	                    <li><a href="#">A Gasolina</a></li>
	  	                    <li class="divider"></li>
	  	                    <li class="dropdown-header">Carrito de compras</li>
	  	                    <li><a href="#">Separated link</a></li>
	  	                    <li><a href="#">One more separated link</a></li>
	  	                  </ul>
	  	                </li>
						<li>
							<%= link_to "#cart",:class => "btn-lg",:data => {:toggle => "modal"} do %>
								<span class="glyphicon glyphicon-shopping-cart"></span> 
								<span id="current_item" class="badge pull-right">	
									<div id="items">
										<%= @cart.total_items%>
									</div>
									</span>								
							<% end %>
						</li>

	  	              </ul>
	  				  <form class="navbar-form navbar-right">
	  				              <div class="form-group">
	  				                <input type="text" placeholder="Email" class="form-control">
	  				              </div>
	  				              <div class="form-group">
	  				                <input type="password" placeholder="Password" class="form-control">
	  				              </div>
	  				              <button type="submit" class="btn btn-success">Sign in</button>
	  				            </form>
								
			        </div><!--/.nav-collapse -->
			      </div>
			    </div>						  
				<div class="container">
					<!-- Modal -->
					  <div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="cartLabel" aria-hidden="true">
					    <div class="modal-dialog">
					      <div class="modal-content">
					        <div class="modal-header">
					          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					          <h4 class="modal-title">Mi Carrito</h4>
					        </div>
					        <div class="modal-body">
								<div class="row-md-8">
								<div id="cartcontent">
									
								        <%= render @cart %>
								</div>
								
								</div>			
					        </div>
					        <div class="modal-footer">
										<%= button_to "Checkout", new_order_path, method: :get,:class => "btn btn-info" %>
					        </div>
					      </div><!-- /.modal-content -->
					    </div><!-- /.modal-dialog -->
					  </div><!-- /.modal -->
					<h1><br></h1>

					<% flash.each do |name, msg| %>
					  <div class="alert alert-<%= name == :notice ? "success" : "danger" %>">
					    <a class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
					    <%= msg %>
					  </div>
					<% end %>
					
					<div id="flash">
						
					</div>
					  <%= yield %>

				</div>	


	      <!-- FOOTER -->
	      <footer>
	        <p class="pull-right"><a href="#">Back to top</a></p>
	        <p>&copy; 2013 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
	      </footer>

</body>
</html>
